<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head th:replace="fragments/header :: header-includes">
    <title>Admin page</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="container">
    <div class="hero-unit">
        <h1 th:text="'Welcome admin, ' + ${user.firstName} + '!'">Hello!</h1>
        <div>
            <h3>Welcome to the Spring Sandbox Administration.</h3>
            Your last login was on <span th:text="${user.lastLogin}"></span>.
        </div>
        <small>
            Not <span th:text="${user.firstName}"></span>? Click here to <a th:href="@{/perform_logout}">logout</a>
        </small>
    </div>
    <div th:replace="fragments/footer :: footer">Footer</div>
</div>
</body>
</html>
